<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>You have ordered {{ current_order_quantity }} items so far and spent {{ total_charge }} with Amadon.com!</p>
    <p>So far you have ordered {{ total_quantity }} items costing {{ all_orders_charge }}</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>